# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.bloop
.metals
.settings
bin
.project
.classpath

# Ignore core dupmps
.log

#ignore ide folders
.idea/
.vscode/
project/metals.sbt
project/project/metals.sbt

# ignore animated Julia set output
julia/

*.spv
gradlew
gradlew/wrapper
target
project/target
out
hs_err_pid*.log
replay_pid*.log
.bsp
